RewriteEngine on
RewriteBase /angelhack/leaper-web/

RewriteCond $1 !^(index\.php|resources|demo1|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

